<link type ="text/css" href="../assets/css/style.scss">

<header style = "border-bottom: 1px solid rgb(232, 232, 232);">
    <div class="wrapper list" style = "color: rgb(66, 66, 66)">
        <h5 style="margin: 0;">news in year</h5>
        {% for page in site.pages%} 
            {% if page.title != nill and page.title != "About" and page.title != "HEAD" and page.title != "README"%}
                <span class = "news-in-year"><a href="{{ page.url | relative_url}}">{{ page.title }}</a></span>
            {% endif %}
        {% endfor %}
    </div>
</header>